.custom-slider-container {
  position: relative;
  text-align: center;
}

.custom-slider-controls {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.custom-slider-controls button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  z-index: 9999;
}

.custom-slider-controls button:hover {
  background-color: #0056b3;
}
.slider-block {
  img {
    width: 1570px;
    height: 551px;
  }
}
.slick-next {
  right: 20px;
  background-color: '#FFFFFF'; // Цвет фона
  color: '#000000'; // Цвет текста
  border: 'none'; // Убрать границу
  outline: 'none'; // Убрать обводку
  padding: '10px 20px'; // Отступы
  cursor: 'pointer'; // Стиль курсора
}
.slick-prev {
  left: 20px;
  background-color: '#9D9D9D47'; // Цвет фона
  color: 'white'; // Цвет текста
  border: 'none'; // Убрать границу
  outline: 'none'; // Убрать обводку
  padding: '10px 20px'; // Отступы
  cursor: 'pointer'; // Стиль курсора
}
.slick-prev,
.slick-next {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 88888888;
  width: 30px;
  height: 30px;
}
